## Preprocessing

In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(['EIN','NAME'], axis=1)
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=['T9','T13','T12','T2','T14','T25','T15','T29','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C1900        1
C1728        1
C2561        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()>1

C1000     True
C2000     True
C1200     True
C3000     True
C2100     True
         ...
C1248    False
C1900    False
C1728    False
C2561    False
C2150    False
Name: CLASSIFICATION, Length: 71, dtype: bool

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classifications_to_replace.loc[classifications_to_replace<1200].index.values


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(application_df, drop_first=True)
df_dummies.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [31]:
# Split our preprocessed data into our features and target arrays
X=df_dummies.drop("IS_SUCCESSFUL",axis=1)
y=df_dummies["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
df.shape

(34299, 36)

## Compile, Train and Evaluate the Model

In [48]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=36))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 6)                 222
_________________________________________________________________
dense_19 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_20 (Dense)             (None, 1)                 7
=================================================================
Total params: 271
Trainable params: 271
Non-trainable params: 0
_________________________________________________________________

In [57]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [61]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 787us/step - loss: 0.5447 - accuracy: 0.7355
Epoch 2/100
804/804 [==============================] - 1s 795us/step - loss: 0.5448 - accuracy: 0.7353
Epoch 3/100
804/804 [==============================] - 1s 702us/step - loss: 0.5448 - accuracy: 0.7358
Epoch 4/100
804/804 [==============================] - 1s 681us/step - loss: 0.5446 - accuracy: 0.7354
Epoch 5/100
804/804 [==============================] - 1s 718us/step - loss: 0.5447 - accuracy: 0.7356
Epoch 6/100
804/804 [==============================] - 1s 717us/step - loss: 0.5446 - accuracy: 0.7357
Epoch 7/100
804/804 [==============================] - 1s 712us/step - loss: 0.5448 - accuracy: 0.7353
Epoch 8/100
804/804 [==============================] - 1s 716us/step - loss: 0.5448 - accuracy: 0.7352
Epoch 9/100
804/804 [==============================] - 1s 726us/step - loss: 0.5447 - accuracy: 0.7352
Epoch 10/100
804/804 [==============================] - 1s 734us/step - loss: 0.5447 - accuracy: 0.7347
Epoch 11/100
804/804 [==============================] - 1s 731us/step - loss: 0.5445 - accuracy: 0.7357
Epoch 12/100
804/804 [==============================] - 1s 727us/step - loss: 0.5446 - accuracy: 0.7348
Epoch 13/100
804/804 [==============================] - 1s 725us/step - loss: 0.5448 - accuracy: 0.7353
Epoch 14/100
804/804 [==============================] - 1s 719us/step - loss: 0.5448 - accuracy: 0.7353
Epoch 15/100
804/804 [==============================] - 1s 720us/step - loss: 0.5446 - accuracy: 0.7353
Epoch 16/100
804/804 [==============================] - 1s 715us/step - loss: 0.5446 - accuracy: 0.7352
Epoch 17/100
804/804 [==============================] - 1s 721us/step - loss: 0.5450 - accuracy: 0.7351
Epoch 18/100
804/804 [==============================] - 1s 719us/step - loss: 0.5444 - accuracy: 0.7357
Epoch 19/100
804/804 [==============================] - 1s 727us/step - loss: 0.5447 - accuracy: 0.7352
Epoch 20/100
804/804 [==============================] - 1s 721us/step - loss: 0.5449 - accuracy: 0.7352
Epoch 21/100
804/804 [==============================] - 1s 729us/step - loss: 0.5445 - accuracy: 0.7353
Epoch 22/100
804/804 [==============================] - 1s 724us/step - loss: 0.5447 - accuracy: 0.7346
Epoch 23/100
804/804 [==============================] - 1s 737us/step - loss: 0.5447 - accuracy: 0.7353
Epoch 24/100
804/804 [==============================] - 1s 703us/step - loss: 0.5447 - accuracy: 0.7355
Epoch 25/100
804/804 [==============================] - 1s 707us/step - loss: 0.5447 - accuracy: 0.7350
Epoch 26/100
804/804 [==============================] - 1s 694us/step - loss: 0.5447 - accuracy: 0.7353
Epoch 27/100
804/804 [==============================] - 1s 700us/step - loss: 0.5445 - accuracy: 0.7352
Epoch 28/100
804/804 [==============================] - 1s 700us/step - loss: 0.5448 - accuracy: 0.7355
Epoch 29/100
804/804 [==============================] - 1s 700us/step - loss: 0.5447 - accuracy: 0.7356
Epoch 30/100
804/804 [==============================] - 1s 690us/step - loss: 0.5446 - accuracy: 0.7343
Epoch 31/100
804/804 [==============================] - 1s 703us/step - loss: 0.5447 - accuracy: 0.7353
Epoch 32/100
804/804 [==============================] - 1s 693us/step - loss: 0.5447 - accuracy: 0.7353
Epoch 33/100
804/804 [==============================] - 1s 695us/step - loss: 0.5446 - accuracy: 0.7348
Epoch 34/100
804/804 [==============================] - 1s 700us/step - loss: 0.5447 - accuracy: 0.7354
Epoch 35/100
804/804 [==============================] - 1s 699us/step - loss: 0.5445 - accuracy: 0.7357
Epoch 36/100
804/804 [==============================] - 1s 707us/step - loss: 0.5447 - accuracy: 0.7352
Epoch 37/100
804/804 [==============================] - 1s 703us/step - loss: 0.5447 - accuracy: 0.7354
Epoch 38/100
804/804 [==============================] - 1s 700us/step - loss: 0.5449 - accuracy: 0.7352
Epoch 39/100
804/804 [==============================] - 1s 703us/step - loss: 0.5446 - accuracy: 0.7350
Epoch 40/100
804/804 [==============================] - 1s 734us/step - loss: 0.5447 - accuracy: 0.7350
Epoch 41/100
804/804 [==============================] - 1s 693us/step - loss: 0.5444 - accuracy: 0.7351
Epoch 42/100
804/804 [==============================] - 1s 700us/step - loss: 0.5447 - accuracy: 0.7359
Epoch 43/100
804/804 [==============================] - 1s 679us/step - loss: 0.5447 - accuracy: 0.7359
Epoch 44/100
804/804 [==============================] - 1s 709us/step - loss: 0.5448 - accuracy: 0.7346
Epoch 45/100
804/804 [==============================] - 1s 691us/step - loss: 0.5446 - accuracy: 0.7346
Epoch 46/100
804/804 [==============================] - 1s 711us/step - loss: 0.5446 - accuracy: 0.7350
Epoch 47/100
804/804 [==============================] - 1s 705us/step - loss: 0.5445 - accuracy: 0.7354
Epoch 48/100
804/804 [==============================] - 1s 705us/step - loss: 0.5446 - accuracy: 0.7351
Epoch 49/100
804/804 [==============================] - 1s 705us/step - loss: 0.5448 - accuracy: 0.7354
Epoch 50/100
804/804 [==============================] - 1s 700us/step - loss: 0.5445 - accuracy: 0.7358
Epoch 51/100
804/804 [==============================] - 1s 709us/step - loss: 0.5447 - accuracy: 0.7355
Epoch 52/100
804/804 [==============================] - 1s 696us/step - loss: 0.5444 - accuracy: 0.7350
Epoch 53/100
804/804 [==============================] - 1s 708us/step - loss: 0.5445 - accuracy: 0.7354
Epoch 54/100
804/804 [==============================] - 1s 701us/step - loss: 0.5447 - accuracy: 0.7355
Epoch 55/100
804/804 [==============================] - 1s 714us/step - loss: 0.5445 - accuracy: 0.7353
Epoch 56/100
804/804 [==============================] - 1s 704us/step - loss: 0.5447 - accuracy: 0.7353
Epoch 57/100
804/804 [==============================] - 1s 710us/step - loss: 0.5447 - accuracy: 0.7357
Epoch 58/100
804/804 [==============================] - 1s 704us/step - loss: 0.5444 - accuracy: 0.7355
Epoch 59/100
804/804 [==============================] - 1s 701us/step - loss: 0.5449 - accuracy: 0.7355
Epoch 60/100
804/804 [==============================] - 1s 705us/step - loss: 0.5447 - accuracy: 0.7347
Epoch 61/100
804/804 [==============================] - 1s 715us/step - loss: 0.5446 - accuracy: 0.7345
Epoch 62/100
804/804 [==============================] - 1s 701us/step - loss: 0.5446 - accuracy: 0.73560s - loss: 0.5
Epoch 63/100
804/804 [==============================] - 1s 694us/step - loss: 0.5447 - accuracy: 0.7348
Epoch 64/100
804/804 [==============================] - 1s 696us/step - loss: 0.5446 - accuracy: 0.7353
Epoch 65/100
804/804 [==============================] - 1s 703us/step - loss: 0.5446 - accuracy: 0.7357
Epoch 66/100
804/804 [==============================] - 1s 698us/step - loss: 0.5444 - accuracy: 0.7352
Epoch 67/100
804/804 [==============================] - 1s 698us/step - loss: 0.5447 - accuracy: 0.7352
Epoch 68/100
804/804 [==============================] - 1s 705us/step - loss: 0.5446 - accuracy: 0.7356
Epoch 69/100
804/804 [==============================] - 1s 690us/step - loss: 0.5447 - accuracy: 0.7353
Epoch 70/100
804/804 [==============================] - 1s 689us/step - loss: 0.5446 - accuracy: 0.7351
Epoch 71/100
804/804 [==============================] - 1s 703us/step - loss: 0.5446 - accuracy: 0.7350
Epoch 72/100
804/804 [==============================] - 1s 708us/step - loss: 0.5446 - accuracy: 0.7361
Epoch 73/100
804/804 [==============================] - 1s 696us/step - loss: 0.5446 - accuracy: 0.7351
Epoch 74/100
804/804 [==============================] - 1s 704us/step - loss: 0.5444 - accuracy: 0.7359
Epoch 75/100
804/804 [==============================] - 1s 703us/step - loss: 0.5447 - accuracy: 0.7354
Epoch 76/100
804/804 [==============================] - 1s 712us/step - loss: 0.5448 - accuracy: 0.7351
Epoch 77/100
804/804 [==============================] - 1s 700us/step - loss: 0.5445 - accuracy: 0.7353
Epoch 78/100
804/804 [==============================] - 1s 704us/step - loss: 0.5446 - accuracy: 0.7352
Epoch 79/100

804/804 [==============================] - 1s 679us/step - loss: 0.5444 - accuracy: 0.7347
Epoch 80/100
804/804 [==============================] - 1s 676us/step - loss: 0.5444 - accuracy: 0.7357
Epoch 81/100
804/804 [==============================] - 1s 681us/step - loss: 0.5445 - accuracy: 0.7354
Epoch 82/100
804/804 [==============================] - 1s 685us/step - loss: 0.5445 - accuracy: 0.7350
Epoch 83/100
804/804 [==============================] - 1s 679us/step - loss: 0.5445 - accuracy: 0.7357
Epoch 84/100
804/804 [==============================] - 1s 684us/step - loss: 0.5444 - accuracy: 0.7352
Epoch 85/100
804/804 [==============================] - 1s 690us/step - loss: 0.5444 - accuracy: 0.7353
Epoch 86/100
804/804 [==============================] - 1s 683us/step - loss: 0.5447 - accuracy: 0.7352
Epoch 87/100
804/804 [==============================] - 1s 695us/step - loss: 0.5447 - accuracy: 0.7351
Epoch 88/100
804/804 [==============================] - 1s 685us/step - loss: 0.5446 - accuracy: 0.7353
Epoch 89/100
804/804 [==============================] - 1s 683us/step - loss: 0.5445 - accuracy: 0.7348
Epoch 90/100
804/804 [==============================] - 1s 679us/step - loss: 0.5442 - accuracy: 0.7352
Epoch 91/100
804/804 [==============================] - 1s 689us/step - loss: 0.5445 - accuracy: 0.7352
Epoch 92/100
804/804 [==============================] - 1s 743us/step - loss: 0.5444 - accuracy: 0.7350
Epoch 93/100
804/804 [==============================] - 1s 745us/step - loss: 0.5448 - accuracy: 0.7351
Epoch 94/100
804/804 [==============================] - 1s 704us/step - loss: 0.5442 - accuracy: 0.7346
Epoch 95/100
804/804 [==============================] - 1s 676us/step - loss: 0.5443 - accuracy: 0.7358
Epoch 96/100
804/804 [==============================] - 1s 764us/step - loss: 0.5444 - accuracy: 0.7362
Epoch 97/100
804/804 [==============================] - 1s 722us/step - loss: 0.5444 - accuracy: 0.7360
Epoch 98/100
804/804 [==============================] - 1s 699us/step - loss: 0.5446 - accuracy: 0.7355
Epoch 99/100
804/804 [==============================] - 1s 755us/step - loss: 0.5444 - accuracy: 0.7355
Epoch 100/100
804/804 [==============================] - 1s 711us/step - loss: 0.5445 - accuracy: 0.7351

In [62]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5576 - accuracy: 0.7223
Loss: 0.5575847625732422, Accuracy: 0.7223323583602905

In [64]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")