## Preprocessing

In [18]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [19]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(['EIN','NAME'], axis=1)
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [21]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=['T9','T13','T12','T2','T14','T25','T15','T29','T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C1900        1
C1728        1
C2561        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [24]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()>1

C1000     True
C2000     True
C1200     True
C3000     True
C2100     True
         ...
C1248    False
C1900    False
C1728    False
C2561    False
C2150    False
Name: CLASSIFICATION, Length: 71, dtype: bool

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classifications_to_replace.loc[classifications_to_replace<1200].index.values


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(application_df, drop_first=True)
df_dummies.head(5)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [31]:
# Split our preprocessed data into our features and target arrays
X=df_dummies.drop("IS_SUCCESSFUL",axis=1)
y=df_dummies["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
df.shape

(34299, 36)

## Compile, Train and Evaluate the Model

In [83]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=40, activation="relu", input_dim=36))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation="tanh"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_30 (Dense)             (None, 40)                1480
_________________________________________________________________
dense_31 (Dense)             (None, 20)                820
_________________________________________________________________
dense_32 (Dense)             (None, 1)                 21
=================================================================
Total params: 2,321
Trainable params: 2,321
Non-trainable params: 0
_________________________________________________________________

In [84]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [85]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - ETA: 0s - loss: 0.5853 - accuracy: 0.70 - 1s 790us/step - loss: 0.5832 - accuracy: 0.7058
Epoch 2/200
804/804 [==============================] - 1s 794us/step - loss: 0.5588 - accuracy: 0.7272
Epoch 3/200
804/804 [==============================] - 1s 807us/step - loss: 0.5549 - accuracy: 0.7297
Epoch 4/200
804/804 [==============================] - 1s 750us/step - loss: 0.5525 - accuracy: 0.7310
Epoch 5/200
804/804 [==============================] - 1s 769us/step - loss: 0.5510 - accuracy: 0.7319
Epoch 6/200
804/804 [==============================] - 1s 755us/step - loss: 0.5502 - accuracy: 0.7313
Epoch 7/200
804/804 [==============================] - 1s 800us/step - loss: 0.5493 - accuracy: 0.7340
Epoch 8/200
804/804 [==============================] - 1s 807us/step - loss: 0.5489 - accuracy: 0.7322
Epoch 9/200
804/804 [==============================] - 1s 812us/step - loss: 0.5478 - accuracy: 0.7318
Epoch 10/200
804/804 [==============================] - 1s 837us/step - loss: 0.5473 - accuracy: 0.7339
Epoch 11/200
804/804 [==============================] - 1s 801us/step - loss: 0.5469 - accuracy: 0.7334
Epoch 12/200
804/804 [==============================] - 1s 787us/step - loss: 0.5473 - accuracy: 0.7346
Epoch 13/200
804/804 [==============================] - 1s 803us/step - loss: 0.5469 - accuracy: 0.7347
Epoch 14/200
804/804 [==============================] - 1s 781us/step - loss: 0.5463 - accuracy: 0.7343
Epoch 15/200
804/804 [==============================] - 1s 808us/step - loss: 0.5460 - accuracy: 0.7340
Epoch 16/200
804/804 [==============================] - 1s 751us/step - loss: 0.5457 - accuracy: 0.7337
Epoch 17/200
804/804 [==============================] - 1s 771us/step - loss: 0.5455 - accuracy: 0.7345
Epoch 18/200
804/804 [==============================] - 1s 739us/step - loss: 0.5452 - accuracy: 0.7351
Epoch 19/200
804/804 [==============================] - 1s 752us/step - loss: 0.5452 - accuracy: 0.7343
Epoch 20/200
804/804 [==============================] - 1s 751us/step - loss: 0.5451 - accuracy: 0.7351
Epoch 21/200
804/804 [==============================] - 1s 739us/step - loss: 0.5452 - accuracy: 0.7352
Epoch 22/200
804/804 [==============================] - 1s 750us/step - loss: 0.5446 - accuracy: 0.7355
Epoch 23/200
804/804 [==============================] - 1s 739us/step - loss: 0.5448 - accuracy: 0.7360
Epoch 24/200
804/804 [==============================] - 1s 793us/step - loss: 0.5440 - accuracy: 0.7360
Epoch 25/200
804/804 [==============================] - 1s 782us/step - loss: 0.5442 - accuracy: 0.7346
Epoch 26/200
804/804 [==============================] - 1s 766us/step - loss: 0.5439 - accuracy: 0.7365
Epoch 27/200
804/804 [==============================] - 1s 790us/step - loss: 0.5444 - accuracy: 0.7362
Epoch 28/200
804/804 [==============================] - 1s 787us/step - loss: 0.5436 - accuracy: 0.7362
Epoch 29/200
804/804 [==============================] - 1s 771us/step - loss: 0.5435 - accuracy: 0.7371
Epoch 30/200
804/804 [==============================] - 1s 759us/step - loss: 0.5436 - accuracy: 0.7367
Epoch 31/200
804/804 [==============================] - 1s 783us/step - loss: 0.5431 - accuracy: 0.7364
Epoch 32/200
804/804 [==============================] - 1s 757us/step - loss: 0.5429 - accuracy: 0.7364
Epoch 33/200
804/804 [==============================] - 1s 759us/step - loss: 0.5429 - accuracy: 0.7367
Epoch 34/200
804/804 [==============================] - 1s 750us/step - loss: 0.5424 - accuracy: 0.7364
Epoch 35/200
804/804 [==============================] - 1s 744us/step - loss: 0.5427 - accuracy: 0.7372
Epoch 36/200
804/804 [==============================] - 1s 761us/step - loss: 0.5430 - accuracy: 0.7369
Epoch 37/200
804/804 [==============================] - 1s 754us/step - loss: 0.5424 - accuracy: 0.7366
Epoch 38/200
804/804 [==============================] - 1s 767us/step - loss: 0.5422 - accuracy: 0.7369
Epoch 39/200
804/804 [==============================] - 1s 750us/step - loss: 0.5420 - accuracy: 0.7362
Epoch 40/200
804/804 [==============================] - 1s 766us/step - loss: 0.5423 - accuracy: 0.7370
Epoch 41/200
804/804 [==============================] - 1s 745us/step - loss: 0.5418 - accuracy: 0.7374
Epoch 42/200
804/804 [==============================] - 1s 749us/step - loss: 0.5421 - accuracy: 0.7364
Epoch 43/200
804/804 [==============================] - 1s 754us/step - loss: 0.5418 - accuracy: 0.7372
Epoch 44/200
804/804 [==============================] - 1s 751us/step - loss: 0.5415 - accuracy: 0.7367
Epoch 45/200
804/804 [==============================] - 1s 760us/step - loss: 0.5413 - accuracy: 0.7383
Epoch 46/200
804/804 [==============================] - 1s 755us/step - loss: 0.5413 - accuracy: 0.7371
Epoch 47/200
804/804 [==============================] - 1s 780us/step - loss: 0.5412 - accuracy: 0.7381
Epoch 48/200
804/804 [==============================] - 1s 793us/step - loss: 0.5413 - accuracy: 0.7378
Epoch 49/200
804/804 [==============================] - 1s 775us/step - loss: 0.5407 - accuracy: 0.7385
Epoch 50/200
804/804 [==============================] - 1s 843us/step - loss: 0.5409 - accuracy: 0.7378
Epoch 51/200
804/804 [==============================] - 1s 869us/step - loss: 0.5410 - accuracy: 0.7382
Epoch 52/200
804/804 [==============================] - 1s 783us/step - loss: 0.5410 - accuracy: 0.7384
Epoch 53/200
804/804 [==============================] - 1s 779us/step - loss: 0.5406 - accuracy: 0.7376
Epoch 54/200
804/804 [==============================] - 1s 746us/step - loss: 0.5403 - accuracy: 0.7375
Epoch 55/200
804/804 [==============================] - 1s 770us/step - loss: 0.5409 - accuracy: 0.7378
Epoch 56/200
804/804 [==============================] - 1s 739us/step - loss: 0.5404 - accuracy: 0.7393
Epoch 57/200
804/804 [==============================] - 1s 746us/step - loss: 0.5403 - accuracy: 0.7379
Epoch 58/200
804/804 [==============================] - 1s 751us/step - loss: 0.5399 - accuracy: 0.7382
Epoch 59/200
804/804 [==============================] - 1s 765us/step - loss: 0.5402 - accuracy: 0.7386
Epoch 60/200
804/804 [==============================] - 1s 749us/step - loss: 0.5401 - accuracy: 0.7385
Epoch 61/200
804/804 [==============================] - 1s 737us/step - loss: 0.5400 - accuracy: 0.7391
Epoch 62/200
804/804 [==============================] - 1s 755us/step - loss: 0.5398 - accuracy: 0.7382
Epoch 63/200
804/804 [==============================] - 1s 744us/step - loss: 0.5400 - accuracy: 0.7373
Epoch 64/200
804/804 [==============================] - 1s 760us/step - loss: 0.5398 - accuracy: 0.7384
Epoch 65/200
804/804 [==============================] - 1s 750us/step - loss: 0.5399 - accuracy: 0.7383
Epoch 66/200
804/804 [==============================] - 1s 739us/step - loss: 0.5392 - accuracy: 0.7389
Epoch 67/200
804/804 [==============================] - 1s 757us/step - loss: 0.5395 - accuracy: 0.7392
Epoch 68/200
804/804 [==============================] - 1s 739us/step - loss: 0.5398 - accuracy: 0.7382
Epoch 69/200
804/804 [==============================] - 1s 742us/step - loss: 0.5397 - accuracy: 0.7376
Epoch 70/200
804/804 [==============================] - 1s 735us/step - loss: 0.5394 - accuracy: 0.7378
Epoch 71/200
804/804 [==============================] - 1s 740us/step - loss: 0.5393 - accuracy: 0.7385
Epoch 72/200
804/804 [==============================] - 1s 740us/step - loss: 0.5389 - accuracy: 0.7376
Epoch 73/200
804/804 [==============================] - 1s 752us/step - loss: 0.5391 - accuracy: 0.7381
Epoch 74/200
804/804 [==============================] - 1s 737us/step - loss: 0.5392 - accuracy: 0.7393
Epoch 75/200
804/804 [==============================] - 1s 737us/step - loss: 0.5391 - accuracy: 0.7399
Epoch 76/200
804/804 [==============================] - 1s 746us/step - loss: 0.5388 - accuracy: 0.7394
Epoch 77/200
804/804 [==============================] - 1s 740us/step - loss: 0.5391 - accuracy: 0.7389
Epoch 78/200
804/804 [==============================] - 1s 769us/step - loss: 0.5388 - accuracy: 0.7392
Epoch 79/200

804/804 [==============================] - 1s 731us/step - loss: 0.5389 - accuracy: 0.7393
Epoch 80/200
804/804 [==============================] - 1s 735us/step - loss: 0.5388 - accuracy: 0.7396
Epoch 81/200
804/804 [==============================] - 1s 737us/step - loss: 0.5389 - accuracy: 0.7387
Epoch 82/200
804/804 [==============================] - 1s 760us/step - loss: 0.5385 - accuracy: 0.7399
Epoch 83/200
804/804 [==============================] - 1s 762us/step - loss: 0.5388 - accuracy: 0.7393
Epoch 84/200
804/804 [==============================] - 1s 822us/step - loss: 0.5387 - accuracy: 0.7390
Epoch 85/200
804/804 [==============================] - 1s 823us/step - loss: 0.5384 - accuracy: 0.7395
Epoch 86/200
804/804 [==============================] - 1s 852us/step - loss: 0.5385 - accuracy: 0.7398
Epoch 87/200
804/804 [==============================] - 1s 803us/step - loss: 0.5383 - accuracy: 0.7396
Epoch 88/200
804/804 [==============================] - 1s 779us/step - loss: 0.5382 - accuracy: 0.7395
Epoch 89/200
804/804 [==============================] - 1s 766us/step - loss: 0.5386 - accuracy: 0.7397
Epoch 90/200
804/804 [==============================] - 1s 785us/step - loss: 0.5383 - accuracy: 0.7388
Epoch 91/200
804/804 [==============================] - 1s 792us/step - loss: 0.5383 - accuracy: 0.7395
Epoch 92/200
804/804 [==============================] - 1s 801us/step - loss: 0.5381 - accuracy: 0.7392
Epoch 93/200
804/804 [==============================] - 1s 826us/step - loss: 0.5380 - accuracy: 0.7399
Epoch 94/200
804/804 [==============================] - 1s 869us/step - loss: 0.5378 - accuracy: 0.7399
Epoch 95/200
804/804 [==============================] - 1s 856us/step - loss: 0.5381 - accuracy: 0.7391
Epoch 96/200
804/804 [==============================] - 1s 893us/step - loss: 0.5379 - accuracy: 0.7403
Epoch 97/200
804/804 [==============================] - 1s 832us/step - loss: 0.5379 - accuracy: 0.7405
Epoch 98/200
804/804 [==============================] - 1s 805us/step - loss: 0.5380 - accuracy: 0.7400
Epoch 99/200
804/804 [==============================] - 1s 793us/step - loss: 0.5379 - accuracy: 0.7401
Epoch 100/200
804/804 [==============================] - 1s 781us/step - loss: 0.5378 - accuracy: 0.7405
Epoch 101/200
804/804 [==============================] - 1s 808us/step - loss: 0.5377 - accuracy: 0.7405
Epoch 102/200
804/804 [==============================] - 1s 781us/step - loss: 0.5374 - accuracy: 0.7394
Epoch 103/200
804/804 [==============================] - 1s 783us/step - loss: 0.5377 - accuracy: 0.7393
Epoch 104/200
804/804 [==============================] - 1s 826us/step - loss: 0.5378 - accuracy: 0.7407
Epoch 105/200
804/804 [==============================] - 1s 805us/step - loss: 0.5375 - accuracy: 0.7400
Epoch 106/200
804/804 [==============================] - 1s 837us/step - loss: 0.5378 - accuracy: 0.7403
Epoch 107/200
804/804 [==============================] - 1s 782us/step - loss: 0.5374 - accuracy: 0.7403
Epoch 108/200
804/804 [==============================] - 1s 802us/step - loss: 0.5378 - accuracy: 0.7400
Epoch 109/200
804/804 [==============================] - 1s 785us/step - loss: 0.5376 - accuracy: 0.7404
Epoch 110/200
804/804 [==============================] - 1s 785us/step - loss: 0.5374 - accuracy: 0.7400
Epoch 111/200
804/804 [==============================] - 1s 867us/step - loss: 0.5378 - accuracy: 0.7402
Epoch 112/200
804/804 [==============================] - 1s 871us/step - loss: 0.5374 - accuracy: 0.7405
Epoch 113/200
804/804 [==============================] - 1s 830us/step - loss: 0.5373 - accuracy: 0.7398
Epoch 114/200
804/804 [==============================] - 1s 764us/step - loss: 0.5371 - accuracy: 0.7413
Epoch 115/200
804/804 [==============================] - 1s 775us/step - loss: 0.5374 - accuracy: 0.7400
Epoch 116/200
804/804 [==============================] - 1s 850us/step - loss: 0.5372 - accuracy: 0.7408
Epoch 117/200
804/804 [==============================] - 1s 816us/step - loss: 0.5372 - accuracy: 0.7407
Epoch 118/200
804/804 [==============================] - 1s 811us/step - loss: 0.5372 - accuracy: 0.7397
Epoch 119/200
804/804 [==============================] - 1s 830us/step - loss: 0.5371 - accuracy: 0.7405
Epoch 120/200
804/804 [==============================] - 1s 836us/step - loss: 0.5372 - accuracy: 0.7394
Epoch 121/200
804/804 [==============================] - 1s 807us/step - loss: 0.5371 - accuracy: 0.7399
Epoch 122/200
804/804 [==============================] - 1s 867us/step - loss: 0.5369 - accuracy: 0.7402
Epoch 123/200
804/804 [==============================] - 1s 781us/step - loss: 0.5371 - accuracy: 0.7398
Epoch 124/200
804/804 [==============================] - 1s 747us/step - loss: 0.5369 - accuracy: 0.7404
Epoch 125/200
804/804 [==============================] - 1s 729us/step - loss: 0.5369 - accuracy: 0.7411
Epoch 126/200
804/804 [==============================] - 1s 764us/step - loss: 0.5368 - accuracy: 0.7404
Epoch 127/200
804/804 [==============================] - 1s 765us/step - loss: 0.5366 - accuracy: 0.7409
Epoch 128/200
804/804 [==============================] - 1s 894us/step - loss: 0.5368 - accuracy: 0.7409
Epoch 129/200
804/804 [==============================] - 1s 871us/step - loss: 0.5366 - accuracy: 0.7407
Epoch 130/200
804/804 [==============================] - 1s 813us/step - loss: 0.5367 - accuracy: 0.7405
Epoch 131/200
804/804 [==============================] - 1s 808us/step - loss: 0.5367 - accuracy: 0.7407
Epoch 132/200
804/804 [==============================] - 1s 755us/step - loss: 0.5367 - accuracy: 0.7407
Epoch 133/200
804/804 [==============================] - 1s 771us/step - loss: 0.5368 - accuracy: 0.7400
Epoch 134/200
804/804 [==============================] - 1s 786us/step - loss: 0.5367 - accuracy: 0.7406
Epoch 135/200
804/804 [==============================] - 1s 782us/step - loss: 0.5366 - accuracy: 0.7404
Epoch 136/200
804/804 [==============================] - 1s 787us/step - loss: 0.5367 - accuracy: 0.7407
Epoch 137/200
804/804 [==============================] - 1s 797us/step - loss: 0.5366 - accuracy: 0.7409
Epoch 138/200
804/804 [==============================] - 1s 739us/step - loss: 0.5369 - accuracy: 0.7401
Epoch 139/200
804/804 [==============================] - 1s 806us/step - loss: 0.5367 - accuracy: 0.7410
Epoch 140/200
804/804 [==============================] - 1s 739us/step - loss: 0.5363 - accuracy: 0.7407
Epoch 141/200
804/804 [==============================] - 1s 759us/step - loss: 0.5364 - accuracy: 0.7399
Epoch 142/200
804/804 [==============================] - 1s 795us/step - loss: 0.5364 - accuracy: 0.7402
Epoch 143/200
804/804 [==============================] - 1s 752us/step - loss: 0.5360 - accuracy: 0.7411
Epoch 144/200
804/804 [==============================] - 1s 745us/step - loss: 0.5364 - accuracy: 0.7404
Epoch 145/200
804/804 [==============================] - 1s 793us/step - loss: 0.5364 - accuracy: 0.7411
Epoch 146/200
804/804 [==============================] - 1s 780us/step - loss: 0.5359 - accuracy: 0.7407
Epoch 147/200
804/804 [==============================] - 1s 734us/step - loss: 0.5365 - accuracy: 0.7416
Epoch 148/200
804/804 [==============================] - 1s 746us/step - loss: 0.5359 - accuracy: 0.7405
Epoch 149/200
804/804 [==============================] - 1s 783us/step - loss: 0.5366 - accuracy: 0.7412
Epoch 150/200
804/804 [==============================] - 1s 822us/step - loss: 0.5363 - accuracy: 0.7406
Epoch 151/200
804/804 [==============================] - 1s 757us/step - loss: 0.5362 - accuracy: 0.7409
Epoch 152/200
804/804 [==============================] - 1s 734us/step - loss: 0.5361 - accuracy: 0.7412
Epoch 153/200
804/804 [==============================] - 1s 759us/step - loss: 0.5362 - accuracy: 0.7409
Epoch 154/200
804/804 [==============================] - 1s 825us/step - loss: 0.5359 - accuracy: 0.7407
Epoch 155/200
804/804 [==============================] - 1s 810us/step - loss: 0.5363 - accuracy: 0.7409
Epoch 156/200
804/804 [==============================] - 1s 821us/step - loss: 0.5357 - accuracy: 0.7404
Epoch 157/200

804/804 [==============================] - 1s 767us/step - loss: 0.5360 - accuracy: 0.7409
Epoch 158/200
804/804 [==============================] - 1s 756us/step - loss: 0.5365 - accuracy: 0.7404
Epoch 159/200
804/804 [==============================] - 1s 730us/step - loss: 0.5360 - accuracy: 0.7410
Epoch 160/200
804/804 [==============================] - 1s 732us/step - loss: 0.5360 - accuracy: 0.7404
Epoch 161/200
804/804 [==============================] - 1s 726us/step - loss: 0.5360 - accuracy: 0.7414
Epoch 162/200
804/804 [==============================] - 1s 739us/step - loss: 0.5360 - accuracy: 0.7412
Epoch 163/200
804/804 [==============================] - 1s 776us/step - loss: 0.5358 - accuracy: 0.7406
Epoch 164/200
804/804 [==============================] - 1s 761us/step - loss: 0.5359 - accuracy: 0.7418
Epoch 165/200
804/804 [==============================] - 1s 786us/step - loss: 0.5359 - accuracy: 0.7408
Epoch 166/200
804/804 [==============================] - 1s 786us/step - loss: 0.5358 - accuracy: 0.7416
Epoch 167/200
804/804 [==============================] - 1s 787us/step - loss: 0.5357 - accuracy: 0.7407
Epoch 168/200
804/804 [==============================] - 1s 772us/step - loss: 0.5356 - accuracy: 0.7410
Epoch 169/200
804/804 [==============================] - 1s 793us/step - loss: 0.5361 - accuracy: 0.7405
Epoch 170/200
804/804 [==============================] - 1s 779us/step - loss: 0.5359 - accuracy: 0.7411
Epoch 171/200
804/804 [==============================] - 1s 735us/step - loss: 0.5358 - accuracy: 0.7414
Epoch 172/200
804/804 [==============================] - 1s 736us/step - loss: 0.5355 - accuracy: 0.7411
Epoch 173/200
804/804 [==============================] - 1s 720us/step - loss: 0.5355 - accuracy: 0.7412
Epoch 174/200
804/804 [==============================] - 1s 734us/step - loss: 0.5354 - accuracy: 0.7409
Epoch 175/200
804/804 [==============================] - 1s 735us/step - loss: 0.5356 - accuracy: 0.7412
Epoch 176/200
804/804 [==============================] - 1s 729us/step - loss: 0.5360 - accuracy: 0.7408
Epoch 177/200
804/804 [==============================] - 1s 783us/step - loss: 0.5353 - accuracy: 0.7418
Epoch 178/200
804/804 [==============================] - 1s 751us/step - loss: 0.5359 - accuracy: 0.7404
Epoch 179/200
804/804 [==============================] - ETA: 0s - loss: 0.5358 - accuracy: 0.74 - 1s 787us/step - loss: 0.5355 - accuracy: 0.7408
Epoch 180/200
804/804 [==============================] - 1s 732us/step - loss: 0.5354 - accuracy: 0.7411
Epoch 181/200
804/804 [==============================] - 1s 787us/step - loss: 0.5352 - accuracy: 0.7420
Epoch 182/200
804/804 [==============================] - 1s 761us/step - loss: 0.5350 - accuracy: 0.7416
Epoch 183/200
804/804 [==============================] - 1s 751us/step - loss: 0.5353 - accuracy: 0.7414
Epoch 184/200
804/804 [==============================] - 1s 757us/step - loss: 0.5356 - accuracy: 0.7404
Epoch 185/200
804/804 [==============================] - 1s 740us/step - loss: 0.5353 - accuracy: 0.7406
Epoch 186/200
804/804 [==============================] - 1s 742us/step - loss: 0.5353 - accuracy: 0.7409
Epoch 187/200
804/804 [==============================] - 1s 730us/step - loss: 0.5349 - accuracy: 0.7409
Epoch 188/200
804/804 [==============================] - 1s 737us/step - loss: 0.5353 - accuracy: 0.7412
Epoch 189/200
804/804 [==============================] - 1s 742us/step - loss: 0.5355 - accuracy: 0.7417
Epoch 190/200
804/804 [==============================] - 1s 752us/step - loss: 0.5350 - accuracy: 0.7415
Epoch 191/200
804/804 [==============================] - 1s 746us/step - loss: 0.5354 - accuracy: 0.7411
Epoch 192/200
804/804 [==============================] - 1s 782us/step - loss: 0.5352 - accuracy: 0.7413
Epoch 193/200
804/804 [==============================] - 1s 805us/step - loss: 0.5352 - accuracy: 0.7416
Epoch 194/200
804/804 [==============================] - 1s 788us/step - loss: 0.5352 - accuracy: 0.7413
Epoch 195/200
804/804 [==============================] - 1s 787us/step - loss: 0.5351 - accuracy: 0.7407
Epoch 196/200
804/804 [==============================] - 1s 766us/step - loss: 0.5350 - accuracy: 0.7410
Epoch 197/200
804/804 [==============================] - 1s 812us/step - loss: 0.5349 - accuracy: 0.7414
Epoch 198/200
804/804 [==============================] - 1s 800us/step - loss: 0.5350 - accuracy: 0.7411
Epoch 199/200
804/804 [==============================] - 1s 757us/step - loss: 0.5350 - accuracy: 0.7414
Epoch 200/200
804/804 [==============================] - 1s 801us/step - loss: 0.5352 - accuracy: 0.7412

In [81]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5780 - accuracy: 0.7240
Loss: 0.5780052542686462, Accuracy: 0.7239649891853333

In [87]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity.h5")